@model List<Category>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Kategori Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Başlıklar</th>
    </tr>

    @foreach (var category in Model)
    {
        <tr>
            <th>@category.CategoryId</th>
            <td>@category.CategoryName</td>
            <td><a asp-action="Delete" asp-controller="AdminCategory" asp-route-id="@category.CategoryId" class="btn btn-danger">Sil</a></td>
            <td><a asp-action="Update" asp-controller="AdminCategory" asp-route-id="@category.CategoryId" class="btn btn-warning">Güncelle</a></td>
            <td><a href="#" class="btn btn-primary">Başlıklar</a></td>

        </tr>
    }
</table>

