
<table class="table table-hover">
    <tr>
        <th>ID</th>
        <th>KATEGORİ ADI</th>
        <th>AÇIKLAMA</th>
        <th>DURUM</th>
    </tr>

    <tr>
        <td>Eğitim</td>
        <td>Açıklama Yapıldı</td>
        <td>True</td>
    </tr>
</table>
<button class="btn btn-success">Yeni Kategori</button>
<button class="btn btn-info">Kategori Listesi</button>
<button class="btn btn-warning">Kategori Açıklaması</button>